@{
    string Url = @"https://localhost:48125/api/TipoComida";
    ViewData["Title"] = "Tipo de Comida";
}

@model IEnumerable<WebAPI_Razor.Models.TipoComidaModel>

<h1>@ViewData["Title"]</h1>

<p>Lista de tipos de alimentos</p>

<div class="form-group">
    
</div>