@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Bienvenido al CRUD de alimentos, aquí podras ver la comida favorita de cada persona</p>
</div>
